*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: beige;
    min-height: 100vh;
    border: 10px solid #2610c9;
}
.content{
    max-width: 900px;
    margin: 0 auto;
}
.image,img{
    height: 250px;
    width: 200px;
}
img{
    border-radius: 50%;
}
.top-section{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
div h1{
 font-size: 35px;
 font-weight: bold;
 color: #2610c9;
 text-transform: uppercase;
}
div h4{
    text-align: end;
    font-size: 20px;
    margin-top: 10px;
    color: #010006;
}


.main-section h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;

}
.main-section p{
    font-size: 25px;
    text-align: justify;
}
.bio h3{
    margin: 30px 0;
    font-size: 35px;
}
.bio li{
   padding: 8px;
}
.bio ul{
   margin-bottom: 20px;
 }
 footer{
    margin-bottom: 30px ;
 }
footer p{
    font-size: 30px;
    text-align: end;
 }
